*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #eff2f6;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1530px;
    
}

.signin_page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 95px;
}

.sign{
    background-color: #ffffff;
    padding-inline: 40px;
    padding-block: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ccc;
    position: relative;
    

}
input{
    height: 52px;
    width: 378px;
    padding-inline: 20px;
    border: 1px solid black;
    font-size: medium;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: #0f6fec;
}

p{
    font-size: medium;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #bababe;
}

h1{
    margin-bottom: 10px;
    background-color: #ffffff;
}

#signin-btn{
    height: 52px;
    width: 378px;
    background-color:#0f6fec;
    color: #ffffff;
    border: 1px solid #0f6fec;
    font-size: large;
    font-weight: 600;
}

img{
    height: 50px;
    width: 50px;
    padding-inline: 10px;
    padding-block: 10px;
    position: absolute;
    left: 80px;
    top:38px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
}
#eye_slash{
    position: absolute;
    top: 230px;
    right: 60px;
    background-color: transparent;
    border: none;
}