*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #eff2f6;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1530px;
}

.signup{
    background-color: #ffffff;
    padding-inline: 50px;
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #ccc;
    position: relative;
    position: relative;
}

.signup-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 90px;
}

input{
    height: 52px;
    width: 378px;
    padding-inline: 20px;
    border: 1px solid black;
    font-size: medium;
    font-weight: 300;
}

p{
    font-size: larger;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #bababe;
}

a{
    text-decoration: none;
    color: #0f6fec;
}
h1{
    margin-bottom: 10px;
    background-color: #ffffff;
}

#singup{
    height: 52px;
    width: 378px;
    background-color:#0f6fec;
    color: #ffffff;
    border: 1px solid black;
    font-size: large;
    font-weight: 600;
}

img{
    height: 50px;
    width: 50px;
    padding-inline: 10px;
    padding-block: 10px;
    position: absolute;
    left: 85px;
    top:25px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
}

#eye_slash{
    position: absolute;
    top: 260px;
    right: 70px;
    border: none;
    background-color: transparent;
}

#eye_slash1{
    position: absolute;
    top: 330px;
    right: 70px;
    border: none;
    background-color: transparent;
}